:root {
    --bg-color: rgb(22, 22, 22); /* Black */
    --bg-gradient-end: rgb(99, 132, 43); /* Green */
    --card-color: rgb(9, 0, 8);
}

body {
    align-items: center;
    background: linear-gradient(180deg, var(--bg-gradient-end), var(--bg-color));
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 922px;
    width: calc(100% - 20px);
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    position: relative;
    width: 300px;
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.3),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    height: calc(100% - 2px);
    margin: 1px;
    position: relative;
    width: calc(100% - 2px);
    z-index: 2;
}

.card-text {
    color:darkseagreen;
    text-align: center;
    padding: 5px;
    
}

.card-header {
    color:darkseagreen;
    text-align: center;
    font-weight: bolder;
    text-decoration-line: underline;

}



  .decal-image {
    position: relative;
    top: -160px;
    left: 75px;
    width: 50%; 
    height: auto; /* Maintain aspect ratio */
    border: 5px solid rgb(9, 0, 8);
  }

  .decal-container {
    position: absolute;
    width: 300px;
    height: 200px;
  }

  a {
    text-decoration: none;
  }

  .commands-list {
    text-align: left;
    padding: 5px;
  }

  #list-description {
    margin-left: 20px;
  }

  #list-term {
    font-weight: bolder;
  }

  .list-tos-text {
    font-size: small;
    color:darkseagreen;
    text-align: center;
    padding: 5px;
    
  }